<h1>Welcome {{username}} to your profile</h1>
<p>This is your profile page my friend!</p>
  <button>
    <a href="/auth/profile/{{username}}">Reload the page</a>
  </button>
{{!-- {{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}} --}}